@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

nav {
  list-style: none;
}

nav.navbar {
  position: absolute;
  z-index: 2;
  right: 0px;
}

nav a {
  color: white;
  margin: 5px;
}

nav li #think {
  border-bottom-style: solid;
  border-bottom-color: #5B9077;
  border-bottom-width: 2px;
}

nav li #do {
  border-bottom-style: solid;
  border-bottom-color: #903C3C;
  border-bottom-width: 2px;
}

nav li #talk {
  border-bottom-style: solid;
  border-bottom-color: #685270;
  border-bottom-width: 2px;
}

nav li #look {
  border-bottom-style: solid;
  border-bottom-color: #A66B12;
  border-bottom-width: 2px;
}

nav li #think:hover {
  text-decoration: none;
	border: none;
	background: #5B9077;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

nav li #do:hover {
  text-decoration: none;
	border: none;
	background: #903C3C;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

nav li #talk:hover {
  text-decoration: none;
	border: none;
	background: #685270;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

nav li #look:hover {
  text-decoration: none;
	border: none;
	background: #A66B12;
	color: #f2f2f2;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

.navbar {
  float: right;
  padding: 20px;
}

.name-div {
  position: absolute;
  left: 10px;
  top: 10px;
}

.name-rectangle {
  position: relative;
  left: 650px;
  top: 300px;
  height: 100px;
  width: 400px;
  background-color: #A66B12;
  justify-content: center;
  height: 27px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.name {
  position: relative;
  left: 645px;
  top: 253px;
  z-index: 100;
}

.thinker-div {
  position: absolute;
  left: 10px;
  top: 10px;
}

.thinker-rectangle {
  position: relative;
  left: 12px;
  top: 201px;
  height: 100px;
  width: 1090px;
  background-color: #5B9077;
  justify-content: center;
  height: 123px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.thinker {
  position: relative;
  top: 67px;
  left: -1px;
  z-index: 100;
}

.doer-div {
  position: absolute;
  left: 10px;
  top: 10px;
}

.doer-rectangle {
  position: relative;
  left: 12px;
  top: 201px;
  height: 100px;
  width: 1090px;
  background-color: #903C3C;
  justify-content: center;
  height: 123px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.doer {
  position: relative;
  top: 67px;
  left: -1px;
  z-index: 100;
}

.talker-div {
  position: absolute;
  left: 10px;
  top: 10px;
}

.talker-rectangle {
  position: relative;
  left: 12px;
  top: 101px;
  height: 100px;
  width: 1090px;
  background-color: #685270;
  justify-content: center;
  height: 123px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.talker {
  position: relative;
  top: -30px;
  left: 2px;
  z-index: 100;
}

.gallery-div {
  position: absolute;
  left: 10px;
  top: 10px;
}

.gallery-rectangle {
  position: relative;
  left: 12px;
  top: 50px;
  height: 100px;
  width: 1090px;
  background-color: #A66B12;
  justify-content: center;
  height: 123px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.gallery {
  position: relative;
  top: -70px;
  left: 2px;
  z-index: 100;
}

.cover-rectangle {
  position: relative;
  left: 12px;
  top: 90px;
  height: 100px;
  width: 1090px;
  background-color: black;
  justify-content: center;
  height: 123px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.carousel-inner {
  max-height: 300px;
  border-radius: 25px;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  height: 300px;
  width: auto;
}
